$color_primary: #ff75a0;
$color_secondary: #fce38a;
$color_light: #eaffd0;
$color_special: #95e1d3;
$color_success: #7eaa7e;
$color_warning: #fb9a46;
$color_danger: #f44336;

// $color_primary: #fdc913;
// $color_secondary: #f26b6f;
$color_dark: #323335;
$color_light: #e3e4e6;
$dark: $color_dark;
$light: $color_light;
